*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

body{
    background-color: white;
}

h6{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

p{
    color: blue;
}

b{
    color: red;
}

a{
    text-decoration: none;
}

h2{
    color: black;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

.box{
    height: 120px;
    width: 1000px;    
}

.boxs{
    height: 50px;
    width: 100%;
}


.img{
    height: 100px;
    width: 100%;
    border-radius: 0 0 0 50px;
    background-color: rgb(77, 50, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.subs{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.thou{
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pho{
    height: 200px;
    width: 200px;
    margin: 50px 50px 50px 85px;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
    font: larger;
    font-weight: 900;
}

table{
    padding-left: 20px;
}

th{
    color: black;
    padding: 20px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

h3{
    margin: 20px;
    text-align: center;
}

h2{
    text-align: center;
}

u{
    color: deepskyblue;
}

@media (max-width:500px){
    .img{
        height: 100px;
        width: 100%;
        border-radius: 0 0 0 50px;
        background-color: rgb(77, 50, 255);
    }

    .box{
        height: 120px;
        width: 100%;    
    }

    h6{
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
        font-size: medium;
        font-weight: 600;
        text-align: center;
    }

    h1{
        color: white;
        font: larger;
        font-weight: 900;
    }
    
    .boxs{
        height: 100px;
        width: 100%;
    }
    h2{
        color: black;
        padding: 20px 0 0 10;
        font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    }
    .subs{
        height: 250px;
        width: 100%;
        display: inline-block;
    }
    .thou{
        height: 230px;
        width: 250px;
        display: inline-block;
        position: relative;
        left: 70px;
    }

    
    .pho{
        height: 200px;
        width: 200px;
        background-size: cover;
        margin: 0 50px 0 50px;
    }

    .new{
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}